/* ---------- TEXT ---------- */

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

:root {

    --background-colour: rgb(0, 162, 0);
    --main-colour: rgb(0, 162, 0);
    --secondary-colour: rgb(255, 200, 44);
    --light-main-colour: rgb(154, 213, 154);
    --text-colour: #1B2021;
    --light-text-colour: rgba(27, 32, 33, 0.65);
    --button-colour: rgba(238, 238, 228, 0.4);

    --xSmall-space: 5px;
    --small-space: 10px;
    --medium-space: 15px;
    --large-space: 20px;
    --Xlarge-space: 30px;

    --fontSize-Xsmall: 12px;
    --fontSize-small: 14px;
    --fontSize-medium: 16px;
    --fontSize-large: 20px;

    --light-shadow: 1px 1px 0px rgba(0, 0, 0, 0.15);
    --medium-shadow: 0px 2px 0px rgba(57, 57, 57, 0.3);
    --dark-shadow: 4px 4px 10px 5px rgba(0, 0, 0, 0.3);

}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
    background-color: var(--background-colour);
    font-family: poppins;
    color: var(--text-colour);
}

/* ---------- LAYOUT ---------- */

.cardContainer {
    height: 85vh;
    width: 35vw;
    background-color: white;
    border: 5px solid var(--secondary-colour);
    border-radius: 50px;
    padding: 60px;
    display: grid;
    grid-template-rows: 1fr 5fr;
    box-shadow: var(--dark-shadow);
    font-size: var(--fontSize-medium);
}

.pageNumber {
    text-transform: uppercase;
    color: var(--main-colour);
    font-weight: 600;
    font-size: var(--fontSize-small);
}

.page.active{
    display: block;
}

.page {
    display: none;
}

.heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: var(--large-space);
}

/* ---------- FORMS ---------- */

.formContainer {
    display: flex;
    flex-direction: column;
    gap: var(--large-space);
}

/* ----- PAGE 1 ----- */

.bodyCompositionInputs {
    display: flex;
    flex-direction: column;
}

.bodyCompositionInputs label {
    margin-bottom: var(--small-space);
}

.inputContainer {
    display: flex;
    align-items: center;
    justify-content: stretch;
    width: 100%;
    margin-bottom: var(--small-space);
    box-shadow: var(--light-shadow);
}

input:focus {
    outline: none;
}

.inputContainer:focus-within {
    outline: var(--main-colour) solid;
}

.inputBox {
    flex-basis: 80%;
    height: 100%;
    background-color: transparent;
    padding-left: var(--small-space);
}

.inputContainer p {
    flex-basis: 20%;
    text-align: center;
    color: var(--light-text-colour);
}

.genderOptions {
    display: flex;
    justify-content: space-between;
}

.genderSelect.active {
    background-color: var(--light-main-colour);
    outline: var(--main-colour) solid;
}

/* ----- PAGE 2 ----- */

.activityChoice {
    background-color: var(--button-colour);
    border: none;
    border-radius: var(--medium-space);
    padding: var(--small-space);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: var(--small-space);
    cursor: pointer;
    height: 100px;
    box-shadow: var(--light-shadow);
}

.activityChoice:hover i, .activityChoice:hover h5{
        color: var(--main-colour);
}

.activityChoice:active {
    box-shadow: var(--medium-shadow); 
    transform: translateY(2px); 
}

.activeChoice {
    background-color: var(--light-main-colour);
    outline: var(--main-colour) solid 2px;
}

.activeChoice:hover i, .activeChoice:hover h5{
        color: var(--text-colour);
}

.activityChoice i {
    flex: 1;
    display: flex;
    justify-content: center;
    font-size: var(--fontSize-large);
}

.textArea {
    flex: 5;
}

.activityDescription {
    font-size: var(--fontSize-Xsmall);
}

/* ----- PAGE 3 ----- */

.results {
    display: flex;
    flex-direction: column;
    gap: var(--large-space);
}

.resultsBar {
    width: 100%;
    padding: var(--medium-space);
    box-shadow: var(--light-shadow);
    border-radius: var(--small-space);
    display: flex;
    flex-direction: column;
    background-color: var(--button-colour);
}

.resultValueSection {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--medium-space);
}

.resultTitle {
    font-weight: 500;
}

.resultValue {
    flex: 2;
    text-align: center;
}

.resultsUnit {
    flex: 1;
    text-align: right;
    color: var(--light-text-colour);
}

.rmrResults {
    margin-top: var(--large-space);
}

/* ---------- BUTTONS ---------- */

button {
    cursor: pointer;
    font-size: var(--fontSize-medium);
}

button, .inputContainer {
    background-color: var(--button-colour);
    border: none;
    border-radius: var(--medium-space);
    padding: var(--large-space) var(--medium-space);
}

.progressButton {
    text-transform: uppercase;
    font-weight: 600;
    width: 100%;
    box-shadow: var(--medium-shadow);
    transition: all 0.1s ease-in-out;
}

.progressButton:hover {
    background-color: var(--light-main-colour);
}

.progressButton:active {
    transform: translateY(3px);  
}

button, .inputContainer {
    background-color: var(--button-colour);
    border: none;
    border-radius: var(--medium-space);
    padding: var(--large-space) var(--medium-space);
}

.genderOptions button {
    width: 45%;
    box-shadow: var(--light-shadow);
    transition: all 0.1s ease-in-out; 
}

.genderOptions button i {
    padding-right: var(--xSmall-space);
}

.genderOptions button:active {
    box-shadow: var(--medium-shadow);
    transform: translateY(3px);
}

/* ---------- SPECIFIC COMPONENTS ---------- */



/* ---------- MEDIA QUERIES ---------- */



/* ---------- END ---------- */