* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

:root {

    --background-colour: rgb(0, 162, 0);
    --main-colour: rgb(0, 162, 0);
    --secondary-colour: rgb(255, 200, 44);
    --light-main-colour: rgb(154, 213, 154);
    --text-colour: #1B2021;
    --light-text-colour: rgba(27, 32, 33, 0.65);
    --button-colour: rgba(238, 238, 228, 0.4);


    --medium-space: 20px;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
    background-color: var(--background-colour);
    font-family: poppins;
    color: var(--text-colour);
}

button {
    cursor: pointer;
}

button, .inputContainer {
    background-color: var(--button-colour);
    border: none;
    border-radius: 15px;
    padding: 20px 15px;
}

input:focus {
    outline: none;
}

/* Layout and Display */

.cardContainer {

    height: 85vh;
    width: 35vw;
    background-color: white;
    border: 5px solid var(--secondary-colour);
    border-radius: 50px;

    padding: 60px;

    display: grid;
    grid-template-rows: 1fr 5fr;
}

.pageNumber {
    text-transform: uppercase;
    color: var(--main-colour);
    font-weight: 600;
    font-size: 14px;
}

.heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: var(--medium-space);
}

.formContainer {
    display: flex;
    flex-direction: column;
    gap: var(--medium-space);
}

.bodyCompositionInputs {
    display: flex;
    flex-direction: column;
}

.bodyCompositionInputs label {
    margin-bottom: 10px;
}

.inputContainer {
    display: flex;
    align-items: center;
    justify-content: stretch;
    width: 100%;
    font-size: 16px;
    margin-bottom: 10px;
}

.inputBox {
    font-size: 16px;
    flex-basis: 80%;
    height: 100%;
    background-color: transparent;
    padding-left: 10px;
}

.inputContainer p {
    flex-basis: 20%;
    text-align: center;
    color: var(--light-text-colour);
}

.inputContainer:focus-within {
    outline: var(--main-colour) solid;
}

.genderOptions {
    display: flex;
    justify-content: space-between;
        
    button {
        width: 45%;
        font-size: 16px;
        text-transform: uppercase;
        i {
            padding-right: 5px;
        }
    }
}

.genderSelect.active {
    background-color: var(--light-main-colour);
    outline: var(--main-colour) solid;
}

.progressButton {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    width: 100%;
}

.progressButton:hover {
    background-color: var(--light-main-colour);
    transition: 1.5s ease;
}

.activityChoice {
    background-color: var(--button-colour);
    border: none;
    border-radius: 15px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    cursor: pointer;
    height: 100px;
}

.activityChoice:hover {
    i, h5 {
        color: var(--main-colour);
    }
}

.activeChoice {
    background-color: var(--light-main-colour);
    outline: var(--main-colour) solid 2px;
}

.activeChoice:hover {
    i, h5{    
        color: var(--text-colour);
    }
}

.activityChoice i {
        flex: 1;
        display: flex;
        justify-content: center;
        font-size: 20px;
}

.textArea {
    flex: 5;
}

.activityDescription {
    font-size: 12px;
}

button, .inputContainer {
    background-color: var(--button-colour);
    border: none;
    border-radius: 15px;
    padding: 20px 15px;
}


.page.active{
    display: block;
}

.page {
    display: none;
}